* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: white;
  height: 60px;
}
.option {
  position: absolute;
  left: 50%;
  display: flex;
  margin-top: 20px;
  transform: translateX(-60%);
}

.re-sossiaux {
  float: right;
  margin: 10px 10px 10px 0px;
  display: flex;
  text-decoration: none;
}
ul li {
  display: flex;
  margin-left: 25px;
}
nav h1 {
  position: absolute;
  float: left;
  margin: 10px 0px 10px 10px;
}

section {
  background: url(./Background-image.png);
  width: 100%;
  height: 590px;
}
